name: Test CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Cache Nix store
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check for flake configurations
        run: nix flake check --all-systems --show-trace

      - name: Check for formatting
        run: nix-shell --run "deno fmt --check"

      - name: Check lint errors
        run: nix-shell --run "deno lint"

      - name: Build the app
        run: nix build
